*
{
  color: #917c12;
  text-shadow: 1px 1px #ffffff;
  font-weight: 700;
  font-family: 'Kalam', cursive;
}

p
{
  text-shadow: none;
}

img
{
  width: 100%;
}

.hang_height
{
  min-height: 500px;
}

.hang_back
{
  background-image: url("../images/guitar-2925274_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.inst_back
{
  background-color: lightgray;
}

.mono
{
  font-family: 'Anonymous Pro', monospace;
}
